.images {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-bottom: 105px;
}

.images__image {
  background-position: center top;
  background-size: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  transition: background-size 0.5s ease;
}

.images__image:hover {
  background-size: 110%;
}

.first {
  grid-column: 1/3;
  grid-row: 1/3;
}

.images__image:hover .images__image-description{
  transform: translateY(0);
}

.images__image-description {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(40, 39, 42, 0.75);
  padding: 20px;
  transform: translateY(100%);

  transition: transform 0.5s ease;
}

.images__image-title {
  margin: 0 0 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
}

.images__image-country {
  margin: 0 0 20px;
  color: #636365;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.images__image-text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.second {
  grid-column-start: 3;
}

.third {
  grid-column-start: 3;
}

.fourth {
  grid-column: 1/2;
}

.fives {
  grid-column: 2/-1;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    grid-gap: 30px;
    margin-bottom: 85px;
  }

  .images__image-description {
    padding: 10px;
  }
  
  .images__image-title {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .images__image-country {
    margin: 0 0 3px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .images__image-text {
    margin: 0;
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .images {
    grid-template-columns: repeat(3, minmax(75px, 1fr));
    grid-template-rows: repeat(3, minmax(75px, 1fr));
    grid-gap: 10px;
    margin-bottom: 45px;
  }
  
  .images__image-description {
    padding: 5px;
  }
  
  .images__image-title {
    margin: 0 0 3px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .images__image-country {
    margin: 0 0 2px;
    font-size: 10px;
    line-height: 12px;
  }
  
  .images__image-text {
    display: none;
  }
}