.card {
  width: 250px;
  margin-bottom: 45px;
}

.card__img {
  height: 250px;
  margin-bottom: 20px;
}

.card__title {
  margin: 0 0 4px;
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
}

.card__country {
  margin: 0 0 20px;
  color: #636365;
  font-size: 18px;
  line-height: 20px;
}

.card__description {
  margin: 0 0 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
}

.card__link {
  text-decoration: none;
  color: #FEE251;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .card {
    width: 140px;
    margin-bottom: 15px;
  }
  
  .card__img {
    height: 140px;
    margin-bottom: 15px;
  }
  
  .card__title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .card__country {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 18px;
  }
  
  .card__description {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 25px;
  }
  
  .card__img {
    height: 200px;
    margin-bottom: 15px;
  }
  
  .card__title {
    font-size: 16px;
    line-height: 18px;
  }
  
  .card__country {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .card__description {
    margin: 0 0 15px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px;
    text-align: center;
  }
}
